body {
    font-family: 'Open Sans', sans-serif;

}

canvas {
    border:  1px dotted #ccc;
}

#text-explain {
    display: inline-block;
    font-size: 0.75em;
    margin-bottom: 1em;
}

.alert {
    color: tomato;
}
.row_scatter{
    
    width:800px;
    height:500px;
    background:rgba(255,255,255,0.8);
    margin:auto;
    padding-top: 40px;
    padding-left: 25px;
}

.dg{

    margin:50px;
    padding-left: 100px;
}






.button01 {
    background-color: yellow; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Futura;
    margin-right: 100px;

    
    position: relative;
}



.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}