.nav_00 {
    position: fixed;
    color: rgb(0, 0, 0);
    top: 2px;
    min-width: 270px;
    left: 10px;
    border-radius: 3px;
    font: 25px futura;
    padding: 10px;
  }

  .nav_01 {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 5px;
    min-width: 300px;
    left: 1300px;
    right: 0px;
    border-radius: 3px;
    font: 15px futura;
    padding: 10px;
  }


  video#bgvid { 

    position: fixed; right: 0; bottom: 0;
  
    min-width: 100%; min-height: 100%;
  
    width: auto; height: auto; z-index: -100;
  
    background: url(img/intro-bg.jpg) no-repeat;
  
    background-size: cover; 
  
  }